{"swagger":"2.0","info":{"title":"VATUSA API","contact":{"name":"Daniel Hawton","url":"https:\/\/www.danielhawton.com"},"version":"2.0"},"host":"api.vatusa.net","basePath":"\/v2","schemes":["https"],"paths":{"\/auth\/token":{"get":{"tags":["auth"],"summary":"Get JWT. CORS Restricted","description":"Get JWT. CORS Restricted","produces":["application\/json"],"responses":{"200":{"description":"Return JSON Token.","schema":{"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJodHRwczovL2FwaS52YXR1c2EubmV0L3YyL2F1dGgiLCJpYXQiOjE1MTAyODA5NzIsImV4cCI6MTUxMDI4NDU3MiwibmJmIjoxNTEwMjgwOTcyLCJqdGkiOiIzRHU5S2xBRkJsQk5CTTA0Iiwic3ViIjoiODc2NTk0IiwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.vAzBMZgnzxymv6LnftovyN3Mww7obJ7Ms9H4nQ1la9dLOHpAzW2RvvBjMFdkvi3GyCJoVx23B8uOGOCpRKj5Qg"}},"type":"object"}}},"security":["session"]}},"\/auth\/token\/refresh":{"get":{"tags":["auth"],"summary":"Refresh JWT. CORS Restricted","description":"Refresh JWT. CORS Restricted","produces":["application\/json"],"responses":{"200":{"description":"Return JSON Token.","schema":{"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJodHRwczovL2FwaS52YXR1c2EubmV0L3YyL2F1dGgiLCJpYXQiOjE1MTAyODA5NzIsImV4cCI6MTUxMDI4NDU3MiwibmJmIjoxNTEwMjgwOTcyLCJqdGkiOiIzRHU5S2xBRkJsQk5CTTA0Iiwic3ViIjoiODc2NTk0IiwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.vAzBMZgnzxymv6LnftovyN3Mww7obJ7Ms9H4nQ1la9dLOHpAzW2RvvBjMFdkvi3GyCJoVx23B8uOGOCpRKj5Qg"}},"type":"object"}}},"security":["jwt","session"]}},"\/auth\/info":{"get":{"tags":["auth"],"summary":"Get information about logged in user. CORS Restricted","description":"Get user info. CORS Restricted","produces":["application\/json"],"responses":{"200":{"description":"Return User ojbect","schema":{"$ref":"#\/definitions\/User"}}},"security":["jwt","session"]}},"\/email":{"get":{"tags":["email"],"summary":"Get info of VATUSA email address assigned for user. CORS Restricted","description":"Get info of VATUSA email address assigned for user. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"type":{"description":"Type of email (forward\/full)","type":"string"},"email":{"description":"Email address","type":"string"},"destination":{"description":"Destination for email forwards","type":"string"}},"type":"object"}},"examples":{"application\/json":[{"type":"forward","email":"test@vatusa.net"},{"type":"full","email":"easy@vatusa.net"}]}}},"security":["jwt","session"]},"post":{"tags":["email"],"summary":"Modify email account. CORS Restricted","description":"Modify email account. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"},{"name":"email","in":"query","description":"Email Address","required":true,"type":"string"},{"name":"destination","in":"query","description":"Set destination for forwarded address","type":"string"},{"name":"password","in":"query","description":"Password for full account","type":"string"}],"responses":{"400":{"description":"Bad request","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","msg":"Missing required field"}},{"application\/json":{"status":"error","msg":"Password too weak"}}]},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"409":{"description":"Conflict, usually caused by mismatched parameters","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Ambiguous request"}}},"500":{"description":"Server error","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unknown error"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/exam\/queue\/{examId}":{"post":{"tags":["exam"],"summary":"Add exam to queue for the VATUSA Exam Center. Requires JWT or Session Cookie","description":"Sets the exam as the queued exam for VEC. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"examId","in":"path","description":"Exam ID to place in queue","required":true,"type":"integer","format":"int64"},{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"404":{"description":"Exam assignment not found","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Not Found"}}},"403":{"description":"Forbidden -- usually the exam assignment doesn't belong to the authenticated user","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"200":{"description":"Exam has been queued","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/exam\/submit":{"post":{"tags":["exam"],"summary":"Submit exam payload for grading. CORS Restricted","description":"Submit exam from VEC for grading. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"payload","in":"header","description":"Exam payload (base64)","required":true,"type":"string"},{"name":"answers","in":"header","description":"Answers (base64)","required":true,"type":"string"},{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request, usually for missing parameter","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","message":"Missing data"}},{"application\/json":{"status":"error","message":"Signature doesn't match payload"}}]},"404":{"description":"Exam assignment not found","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Not Found"}}},"200":{"description":"Exam has been processed","schema":{"properties":{"results":{"type":"string"}},"type":"object"},"examples":[{"application\/json":{"results":"Not Passed"}},{"application\/json":{"results":"Passed"}}]}},"security":["jwt"]}},"\/exam":{"get":{"tags":["exam"],"summary":"Generates and sends exam payload for VATUSA Exam Center based on queued exam for JWT auth'd user. CORS Restricted","description":"Generates and sends exam payload for VATUSA Exam Center based on queued exam for JWT auth'd user. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"404":{"description":"Queue\/Exam Assignment not found","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","message":"No exam queued"}},{"application\/json":{"status":"error","message":"No matching exam assignment"}}]},"200":{"description":"Exam generated","schema":{"properties":{"payload":{"description":"base64 encoded quiz payload, with signature appended","type":"string"}},"type":"object"}}},"security":["jwt"]}},"\/facility":{"get":{"tags":["facility"],"summary":"Get list of VATUSA facilities","description":"Get list of VATUSA facilities","produces":["application\/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"IATA identifier of facility","type":"string"},"name":{"description":"Name of facility","type":"string"},"url":{"description":"Facility web address","type":"string"}},"type":"object"}},"examples":{"application\/json":[{"id":"ZAE","name":"Academy","url":"https:\/\/www.vatusa.net"}]}}}}},"\/facility\/{id}":{"get":{"tags":["facility"],"summary":"Get facility information","description":"Get facility information","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"properties":{"id":{"description":"IATA identifier of facility","type":"string"},"name":{"description":"Name of facility","type":"string"},"url":{"description":"Facility web address","type":"string"},"roles":{"type":"array","items":{"properties":{"cid":{"description":"CERT ID","type":"integer"},"name":{"description":"User's name","type":"string"},"role":{"description":"Role","type":"string"}},"type":"object"}},"stats":{"properties":{"controllers":{"description":"Number of controllers on facility roster","type":"integer"},"pendingTransfers":{"description":"Number of pending transfers to facility","type":"integer"}},"type":"object"}},"type":"object"},"examples":{"application\/json":{"id":"ZAE","name":"Academy","url":"https:\/\/www.vatusa.net","roles":[{"cid":876594,"name":"Daniel Hawton","role":"MTR"}],"stats":{"controllers":123,"pendingTransfers":0}}}}}},"post":{"tags":["facility"],"summary":"Update facility information. Requires JWT or Session Cookie","description":"Update facility information. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"},{"name":"url","in":"formData","description":"Change facility URL","type":"string"}],"responses":{"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["json","session"]}},"\/facility\/{id}\/staff":{"get":{"tags":["facility"],"summary":"Get facility staff list","description":"Get facility staff list","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"properties":{"ATM":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"DATM":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"TA":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"EC":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"FE":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"WM":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}}},"type":"object"}}}}},"\/facility\/{id}\/roster":{"get":{"tags":["facility"],"summary":"Get facility roster","description":"Get facility staff.  If api key specified, email properties are defined","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"lastname":{"type":"string"},"firstname":{"type":"string"},"email":{"description":"Empty if no API Key defined","type":"string"},"rating":{"description":"Short rating string (S1, S2, etc)","type":"string"},"intRating":{"description":"Standard rating integer (OBS=1, S1=2, etc)","type":"integer"},"joinDate":{"description":"Date joined facility (YYYY-MM-DD)","type":"string"},"promotionEligible":{"type":"boolean"},"roles":{"type":"array","items":{"title":"role","type":"string"}}},"type":"object"}}}}}},"\/facility\/{id}\/roster\/{cid}":{"delete":{"tags":["facility"],"summary":"Delete member from facility roster. JWT or Session Cookie required","description":"Delete member from facility roster.  JWT or Session Cookie required","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"},{"name":"cid","in":"query","description":"CID of controller","required":true,"type":"integer"},{"name":"reason","in":"formData","description":"Reason for deletion","required":true,"type":"string"}],"responses":{"400":{"description":"Malformed request, missing required parameter","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Malformed request"}}},"403":{"description":"Forbidden -- needs to have role of ATM, DATM or VATUSA Division staff member","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/facility\/{id}\/transfers":{"get":{"tags":["facility"],"summary":"Get pending transfers","description":"Get pending transfers","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"400":{"description":"Malformed request, missing required parameter","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Malformed request"}}},"403":{"description":"Forbidden -- needs to be a staff member, other than mentor","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"Transfer ID","type":"integer"},"cid":{"type":"integer"},"name":{"type":"string"},"rating":{"description":"Short string rating (S1, S2)","type":"string"},"intRating":{"description":"Numeric rating (OBS = 1, etc)","type":"integer"},"date":{"description":"Date transfer submitted (YYYY-MM-DD)","type":"string"}},"type":"object"}},"examples":{"application\/json":[{"id":991,"cid":876594,"name":"Daniel Hawton","rating":"C1","intRating":5,"date":"2017-11-18"}]}}},"security":["jwt","session","apikey"]}},"\/facility\/{id}\/transfers\/{transferId}":{"post":{"tags":["facility"],"summary":"Modify transfer request.  JWT or Session cookie required.","description":"Modify transfer request.  JWT or Session cookie required.","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"},{"name":"transferId","in":"query","description":"Transfer ID","required":true,"type":"integer"},{"name":"action","in":"formData","description":"Action to take on transfer request. Valid values: approve, reject","type":"string","enum":["approve","reject"]},{"name":"reason","in":"formData","description":"Reason for transfer request rejection [required for rejections]","type":"string"}],"responses":{"400":{"description":"Malformed request, missing required parameter","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Malformed request"}}},"403":{"description":"Forbidden -- needs to be a staff member, other than mentor","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"410":{"description":"Gone","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Transfer is not pending"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}}},"definitions":{"error":{"properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"not_logged_in"},"exception":{"type":"string"}},"type":"object"},"OK":{"properties":{"status":{"type":"string","example":"OK"}},"type":"object"},"User":{"properties":{"cid":{"description":"Class User","type":"integer"},"fname":{"description":"First name","type":"string"},"lname":{"description":"Last name","type":"string"},"facility":{"description":"Facility ID","type":"string"},"rating":{"description":"Rating based off array where 0=OBS, S1, S2, S3, C1, C2, C3, I1, I2, I3, SUP, ADM","type":"integer"},"created_at":{"description":"Date added to database","type":"string"},"updated_at":{"description":"Class User","type":"string"},"flag_needbasic":{"description":"1 needs basic exam","type":"integer"},"flag_xferOverride":{"description":"Has approved transfer override","type":"integer"},"facility_join":{"description":"Date joined facility","type":"string"},"flag_homecontroller":{"description":"1-Belongs to VATUSA","type":"integer"},"lastactivity":{"description":"Date last seen on website","type":"string"}},"type":"object"}},"securityDefinitions":{"jwt":{"type":"basic","description":"JSON Web Token","name":"bearer","in":"header"},"session":{"type":"basic","description":"Session cookie","name":"cookie"},"apiKey":{"type":"apiKey","description":"Defined API Key","name":"api_key","in":"query"}}}