{"swagger":"2.0","info":{"title":"VATUSA API","contact":{"name":"Daniel Hawton","url":"https:\/\/www.danielhawton.com"},"version":"2.0"},"host":"api.vatusa.net","basePath":"\/v2","schemes":["https"],"paths":{"\/auth\/token":{"get":{"tags":["auth"],"summary":"Get JWT. CORS Restricted","description":"Get JWT. CORS Restricted","produces":["application\/json"],"responses":{"200":{"description":"Return JSON Token.","schema":{"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJodHRwczovL2FwaS52YXR1c2EubmV0L3YyL2F1dGgiLCJpYXQiOjE1MTAyODA5NzIsImV4cCI6MTUxMDI4NDU3MiwibmJmIjoxNTEwMjgwOTcyLCJqdGkiOiIzRHU5S2xBRkJsQk5CTTA0Iiwic3ViIjoiODc2NTk0IiwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.vAzBMZgnzxymv6LnftovyN3Mww7obJ7Ms9H4nQ1la9dLOHpAzW2RvvBjMFdkvi3GyCJoVx23B8uOGOCpRKj5Qg"}},"type":"object"}}},"security":["session"]}},"\/auth\/token\/refresh":{"get":{"tags":["auth"],"summary":"Refresh JWT. CORS Restricted","description":"Refresh JWT. CORS Restricted","produces":["application\/json"],"responses":{"200":{"description":"Return JSON Token.","schema":{"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJodHRwczovL2FwaS52YXR1c2EubmV0L3YyL2F1dGgiLCJpYXQiOjE1MTAyODA5NzIsImV4cCI6MTUxMDI4NDU3MiwibmJmIjoxNTEwMjgwOTcyLCJqdGkiOiIzRHU5S2xBRkJsQk5CTTA0Iiwic3ViIjoiODc2NTk0IiwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.vAzBMZgnzxymv6LnftovyN3Mww7obJ7Ms9H4nQ1la9dLOHpAzW2RvvBjMFdkvi3GyCJoVx23B8uOGOCpRKj5Qg"}},"type":"object"}}},"security":["jwt","session"]}},"\/auth\/info":{"get":{"tags":["auth"],"summary":"Get information about logged in user. CORS Restricted","description":"Get user info. CORS Restricted","produces":["application\/json"],"responses":{"200":{"description":"Return User object","schema":{"$ref":"#\/definitions\/User"}}},"security":["jwt","session"]}},"\/email":{"get":{"tags":["email"],"summary":"Get info of VATUSA email address assigned for user. CORS Restricted","description":"Get info of VATUSA email address assigned for user. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"type":{"description":"Type of email (forward\/full\/static)","type":"string"},"email":{"description":"Email address","type":"string"},"destination":{"description":"Destination for email forwards","type":"string"}},"type":"object"}},"examples":{"application\/json":[{"type":"forward","email":"test@vatusa.net","destination":"test2@vatusa.net"},{"type":"full","email":"easy@vatusa.net"}]}}},"security":["jwt","session"]},"post":{"tags":["email"],"summary":"Modify email account. CORS Restricted","description":"Modify email account. Static forwards may only be modified by the ATM, DATM or WM. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"},{"name":"email","in":"query","description":"Email Address","required":true,"type":"string"},{"name":"destination","in":"query","description":"Set destination for forwarded address","type":"string"},{"name":"password","in":"query","description":"Password for full account","type":"string"},{"name":"static","in":"query","description":"Is static forward or not","type":"boolean"}],"responses":{"400":{"description":"Bad request","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","msg":"Missing required field"}},{"application\/json":{"status":"error","msg":"Password too weak"}}]},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"409":{"description":"Conflict, usually caused by mismatched parameters","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Ambiguous request"}}},"500":{"description":"Server error","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unknown error"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/email\/(address)":{"get":{"tags":["email"],"summary":"Get info of VATUSA email address. CORS Restricted","description":"Get info of VATUSA email address. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"},{"name":"address","in":"path","description":"Email address","required":true,"type":"string"}],"responses":{"400":{"description":"Bad request","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","msg":"Missing required field"}},{"application\/json":{"status":"error","msg":"Password too weak"}}]},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"type":{"description":"Type of email (forward\/full\/static)","type":"string"},"email":{"description":"Email address","type":"string"},"destination":{"description":"Destination for email forwards","type":"string"},"static":{"description":"Is address static?","type":"boolean"}},"type":"object"}},"examples":{"application\/json":{"type":"full","email":"easy@vatusa.net"}}}},"security":["jwt","session"]}},"\/exam\/queue\/{examId}":{"post":{"tags":["exam"],"summary":"Add exam to queue for the VATUSA Exam Center. Requires JWT or Session Cookie","description":"Sets the exam as the queued exam for VEC. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"examId","in":"path","description":"Exam ID to place in queue","required":true,"type":"integer","format":"int64"},{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"404":{"description":"Exam assignment not found","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Not Found"}}},"403":{"description":"Forbidden -- usually the exam assignment doesn't belong to the authenticated user","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"200":{"description":"Exam has been queued","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/exam\/submit":{"post":{"tags":["exam"],"summary":"Submit exam payload for grading. CORS Restricted","description":"Submit exam from VEC for grading. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"payload","in":"header","description":"Exam payload (base64)","required":true,"type":"string"},{"name":"answers","in":"header","description":"Answers (base64)","required":true,"type":"string"},{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request, usually for missing parameter","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","message":"Missing data"}},{"application\/json":{"status":"error","message":"Signature doesn't match payload"}}]},"404":{"description":"Exam assignment not found","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Not Found"}}},"200":{"description":"Exam has been processed","schema":{"properties":{"results":{"type":"string"}},"type":"object"},"examples":[{"application\/json":{"results":"Not Passed"}},{"application\/json":{"results":"Passed"}}]}},"security":["jwt"]}},"\/exam":{"get":{"tags":["exam"],"summary":"Generates and sends exam payload for VATUSA Exam Center based on queued exam for JWT auth'd user. CORS Restricted","description":"Generates and sends exam payload for VATUSA Exam Center based on queued exam for JWT auth'd user. CORS Restricted","produces":["application\/json"],"parameters":[{"name":"bearer","in":"header","description":"JWT Token","required":true,"type":"string"}],"responses":{"404":{"description":"Queue\/Exam Assignment not found","schema":{"$ref":"#\/definitions\/error"},"examples":[{"application\/json":{"status":"error","message":"No exam queued"}},{"application\/json":{"status":"error","message":"No matching exam assignment"}}]},"200":{"description":"Exam generated","schema":{"properties":{"payload":{"description":"base64 encoded quiz payload, with signature appended","type":"string"}},"type":"object"}}},"security":["jwt"]}},"\/facility":{"get":{"tags":["facility"],"summary":"Get list of VATUSA facilities","description":"Get list of VATUSA facilities","produces":["application\/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"IATA identifier of facility","type":"string"},"name":{"description":"Name of facility","type":"string"},"url":{"description":"Facility web address","type":"string"}},"type":"object"}},"examples":{"application\/json":[{"id":"ZAE","name":"Academy","url":"https:\/\/www.vatusa.net"}]}}}}},"\/facility\/{id}":{"get":{"tags":["facility"],"summary":"Get facility information","description":"Get facility information","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"properties":{"id":{"description":"IATA identifier of facility","type":"string"},"name":{"description":"Name of facility","type":"string"},"url":{"description":"Facility web address","type":"string"},"roles":{"type":"array","items":{"properties":{"cid":{"description":"CERT ID","type":"integer"},"name":{"description":"User's name","type":"string"},"role":{"description":"Role","type":"string"}},"type":"object"}},"stats":{"properties":{"controllers":{"description":"Number of controllers on facility roster","type":"integer"},"pendingTransfers":{"description":"Number of pending transfers to facility","type":"integer"}},"type":"object"}},"type":"object"},"examples":{"application\/json":{"id":"ZAE","name":"Academy","url":"https:\/\/www.vatusa.net","roles":[{"cid":876594,"name":"Daniel Hawton","role":"MTR"}],"stats":{"controllers":123,"pendingTransfers":0}}}}}},"post":{"tags":["facility"],"summary":"Update facility information. Requires JWT or Session Cookie","description":"Update facility information. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"},{"name":"url","in":"formData","description":"Change facility URL, role restricted [ATM, DATM, WM]","type":"string"},{"name":"apikey","in":"formData","description":"Request new API Key for facility, role restricted [ATM, DATM, WM]","type":"string"},{"name":"apikeySandbox","in":"formData","description":"Request new Sandbox API Key for facility, role restricted [ATM, DATM, WM]","type":"string"},{"name":"ulsSecret","in":"formData","description":"Request new ULS Secret, role restricted [ATM, DATM, WM]","type":"string"},{"name":"ulsReturn","in":"formData","description":"Set new ULS return point, role restricted [ATM, DATM, WM]","type":"string"},{"name":"ulsDevReturn","in":"formData","description":"Set new ULS developmental return point, role restricted [ATM, DATM, WM]","type":"string"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"properties":{"status":{"type":"string"},"apikey":{"type":"string"},"apikeySandbox":{"type":"string"},"ulsSecret":{"type":"string"}},"type":"object"},"examples":{"application\/json":{"status":"OK"}}}},"security":["json","session"]}},"\/facility\/{id}\/staff":{"get":{"tags":["facility"],"summary":"Get facility staff list","description":"Get facility staff list","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"properties":{"ATM":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"DATM":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"TA":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"EC":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"FE":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}},"WM":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"name":{"type":"string"}},"type":"object"}}},"type":"object"}}}}},"\/facility\/{id}\/roster":{"get":{"tags":["facility"],"summary":"Get facility roster","description":"Get facility staff.  If api key specified, email properties are defined","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"cid":{"type":"integer"},"lastname":{"type":"string"},"firstname":{"type":"string"},"email":{"description":"Empty if no API Key defined","type":"string"},"rating":{"description":"Short rating string (S1, S2, etc)","type":"string"},"intRating":{"description":"Standard rating integer (OBS=1, S1=2, etc)","type":"integer"},"joinDate":{"description":"Date joined facility (YYYY-MM-DD)","type":"string"},"promotionEligible":{"type":"boolean"},"roles":{"type":"array","items":{"title":"role","type":"string"}}},"type":"object"}}}}}},"\/facility\/{id}\/roster\/{cid}":{"delete":{"tags":["facility"],"summary":"Delete member from facility roster. JWT or Session Cookie required","description":"Delete member from facility roster.  JWT or Session Cookie required","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"},{"name":"cid","in":"query","description":"CID of controller","required":true,"type":"integer"},{"name":"reason","in":"formData","description":"Reason for deletion","required":true,"type":"string"}],"responses":{"400":{"description":"Malformed request, missing required parameter","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Malformed request"}}},"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden -- needs to have role of ATM, DATM or VATUSA Division staff member","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/facility\/{id}\/transfers":{"get":{"tags":["facility"],"summary":"Get pending transfers. Requires JWT, API Key or Session Cookie","description":"Get pending transfers. Requires JWT, API Key or Session Cookie","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"}],"responses":{"400":{"description":"Malformed request, missing required parameter","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Malformed request"}}},"403":{"description":"Forbidden -- needs to be a staff member, other than mentor","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"Transfer ID","type":"integer"},"cid":{"type":"integer"},"name":{"type":"string"},"rating":{"description":"Short string rating (S1, S2)","type":"string"},"intRating":{"description":"Numeric rating (OBS = 1, etc)","type":"integer"},"date":{"description":"Date transfer submitted (YYYY-MM-DD)","type":"string"}},"type":"object"}},"examples":{"application\/json":[{"id":991,"cid":876594,"name":"Daniel Hawton","rating":"C1","intRating":5,"date":"2017-11-18"}]}}},"security":["jwt","session","apikey"]}},"\/facility\/{id}\/transfers\/{transferId}":{"post":{"tags":["facility"],"summary":"Modify transfer request.  JWT or Session cookie required.","description":"Modify transfer request.  JWT or Session cookie required.","produces":["application\/json"],"parameters":[{"name":"id","in":"query","description":"Facility IATA ID","required":true,"type":"string"},{"name":"transferId","in":"query","description":"Transfer ID","required":true,"type":"integer"},{"name":"action","in":"formData","description":"Action to take on transfer request. Valid values: approve, reject","type":"string","enum":["approve","reject"]},{"name":"reason","in":"formData","description":"Reason for transfer request rejection [required for rejections]","type":"string"}],"responses":{"400":{"description":"Malformed request, missing required parameter","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Malformed request"}}},"403":{"description":"Forbidden -- needs to be a staff member, other than mentor","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","message":"Forbidden"}}},"404":{"description":"Not found or not active","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Facility not found or not active"}}},"410":{"description":"Gone","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Transfer is not pending"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/user\/(cid)\/roles\/(facility)\/(role)":{"put":{"tags":["user"],"summary":"Assign new role. Requires JWT or Session Cookie","description":"Assign new role. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"facility","in":"path","description":"Facility IATA ID","required":true,"type":"string"},{"name":"role","in":"path","description":"Role","required":true,"type":"string"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]},"delete":{"tags":["user"],"summary":"Delete role. Requires JWT or Session Cookie","description":"Delete role. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"facility","in":"path","description":"Facility IATA ID","required":true,"type":"string"},{"name":"role","in":"path","description":"Role","required":true,"type":"string"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"404":{"description":"Not found, role may not be assigned","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Not found"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/user\/(cid)\/transfer":{"put":{"tags":["user"],"summary":"Submit transfer request. Requires JWT or Session Cookie","description":"Submit transfer request. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"facility","in":"formData","description":"Facility IATA ID","required":true,"type":"string"},{"name":"reason","in":"formData","description":"Reason for transfer request","required":true,"type":"string"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"409":{"description":"There was a conflict, usually meaning the user has a pending transfer request","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Conflict"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/user\/(cid)\/transfer\/checklist":{"get":{"tags":["user"],"summary":"Get user's transfer checklist. Requires JWT, API Key, or Session Cookie","description":"Get user's checklist. Requires JWT, API Key, or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"item":{"description":"Checklist checked item","type":"string"},"result":{"description":"Result of check (OK, FAIL)","type":"string"},"other":{"description":"Misc info for checked item (ie, number of days since last transfer for 90 day check)","type":"string"}},"type":"object"}}}},"security":["jwt","session","apikey"]}},"\/user\/(cid)\/rating":{"post":{"tags":["user"],"summary":"Submit rating change. Requires JWT or Session Cookie","description":"Submit rating change. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"rating","in":"formData","description":"Rating to change rating to","required":true,"type":"string"},{"name":"examDate","in":"formData","description":"Date of exam (format, YYYY-MM-DD) required for C1 and below","type":"string"},{"name":"examiner","in":"formData","description":"CID of Examiner, if not provided or null will default to authenticated user, required for C1 and below","type":"integer"},{"name":"position","in":"formData","description":"Position sat during exam, required for C1 and below","type":"string"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"409":{"description":"Conflict, when current rating and promoted rating are the same","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Conflict"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/user\/(cid)\/rating\/history":{"get":{"tags":["user"],"summary":"Get user's rating history. Requires JWT, API Key or Session Cookie","description":"Get user's rating history. Requires JWT, API Key or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"Promotion ID Number","type":"integer"},"date":{"description":"Date of Transfer (YYYY-MM-DD)","type":"string"},"ratingTo":{"description":"Rating given (S1, S2, etc)","type":"string"},"ratingFrom":{"description":"Previous rating (S1, S2, etc)","type":"string"}},"type":"object"}}}},"security":["jwt","session","apikey"]}},"\/user\/(cid)\/log":{"put":{"tags":["user"],"summary":"Submit entry to controller's action log. Requires JWT or Session Cookie","description":"Submit entry to controller's action log. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"entry","in":"formData","description":"Entry to log","required":true,"type":"string"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session"]}},"\/user\/(cid)\/transfer\/history":{"get":{"tags":["user"],"summary":"Get user's transfer history. Requires JWT or Session Cookie","description":"Get user's history. Requires JWT or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"Transfer ID Number","type":"integer"},"date":{"description":"Date of Transfer (YYYY-MM-DD)","type":"string"},"facilityTo":{"description":"Facility IATA ID request was addressed to","type":"string"},"facilityFrom":{"description":"Facility IATA ID user was in","type":"string"},"status":{"description":"Status of request (pending, approved, rejected)","type":"string"}},"type":"object"}}}},"security":["jwt","session","apikey"]}},"\/user\/(cid)\/cbt\/history":{"get":{"tags":["user"],"summary":"Get user's CBT history. Requires JWT, API Key or Session Cookie","description":"Get user's CBT history. Requires JWT, API Key or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"completedOnly","in":"query","description":"Display only completed CBT Blocks","type":"boolean"},{"name":"facility","in":"query","description":"Filter for facility IATA ID","type":"string"},{"name":"blockId","in":"query","description":"Lookup progress of specific Block ID","type":"integer"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"Block ID Number","type":"integer"},"facility":{"description":"Block's owning facility","type":"string"},"blockName":{"description":"Name of block","type":"string"},"completed":{"type":"boolean"}},"type":"object"}}}},"security":["jwt","session","apikey"]}},"\/user\/(cid)\/cbt\/progress\/(blockId)":{"put":{"tags":["user"],"summary":"Get user's CBT history. Requires JWT, API Key or Session Cookie","description":"Get user's CBT history. Requires JWT, API Key or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"},{"name":"blockId","in":"query","description":"Mark progress of specific Block ID","type":"integer"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"$ref":"#\/definitions\/OK"},"examples":{"application\/json":{"status":"OK"}}}},"security":["jwt","session","apikey"]}},"\/user\/(cid)\/exam\/history":{"get":{"tags":["user"],"summary":"Get user's exam history. Requires JWT, API Key or Session Cookie","description":"Get user's exam history. Requires JWT, API Key or Session Cookie","produces":["application\/json"],"parameters":[{"name":"cid","in":"path","description":"CERT ID","required":true,"type":"integer"}],"responses":{"401":{"description":"Unauthenticated","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Unauthenticated"}}},"403":{"description":"Forbidden","schema":{"$ref":"#\/definitions\/error"},"examples":{"application\/json":{"status":"error","msg":"Forbidden"}}},"200":{"description":"OK","schema":{"type":"array","items":{"properties":{"id":{"description":"Exam Result ID Number","type":"integer"},"date":{"description":"Date of Exam (YYYY-MM-DD)","type":"string"},"examName":{"description":"Name of exam","type":"string"},"passed":{"type":"boolean"},"score":{"description":"Percentage score multiplied by 100 for whole number (98% = 0.98 * 100 = 98)","type":"integer"}},"type":"object"}}}},"security":["jwt","session","apikey"]}}},"definitions":{"error":{"properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"not_logged_in"},"exception":{"type":"string"}},"type":"object"},"OK":{"properties":{"status":{"type":"string","example":"OK"}},"type":"object"},"User":{"properties":{"cid":{"description":"Class User","type":"integer"},"fname":{"description":"First name","type":"string"},"lname":{"description":"Last name","type":"string"},"facility":{"description":"Facility ID","type":"string"},"rating":{"description":"Rating based off array where 0=OBS, S1, S2, S3, C1, C2, C3, I1, I2, I3, SUP, ADM","type":"integer"},"created_at":{"description":"Date added to database","type":"string"},"updated_at":{"description":"Class User","type":"string"},"flag_needbasic":{"description":"1 needs basic exam","type":"integer"},"flag_xferOverride":{"description":"Has approved transfer override","type":"integer"},"facility_join":{"description":"Date joined facility","type":"string"},"flag_homecontroller":{"description":"1-Belongs to VATUSA","type":"integer"},"lastactivity":{"description":"Date last seen on website","type":"string"}},"type":"object"}},"securityDefinitions":{"jwt":{"type":"basic","description":"JSON Web Token","name":"bearer","in":"header"},"session":{"type":"basic","description":"Session cookie","name":"cookie"},"apiKey":{"type":"apiKey","description":"Defined API Key","name":"api_key","in":"query"}}}