swagger: "2.0"
info:
  title: VATUSA API
  description: |
    Utilize the VATUSA API

    The Private group requires JSON Web Tokens for all routes but /auth/jwt, which requires a valid session cookie.  These routes are specifically for vatusa.net only.

    Semi-Private group requires a valid API Key passed as part of the query string.  ?apikey=()

    Public group requires no authentication.

    All calls must be via https://api.vatusa.net/v2.  Non-secured connections will be rejected.

    Date formats will be in accordance with ISO 8601 and in UTC.  API keys are for VATUSA facilities only and
    are found on the VATUSA website under Facility Management.  API Key and IP address verification is conducted
    on all Semi-Private requests.  Semi-Private requests originating from VATUSA have JWT verification conducted.
  version: "v2"
  contact:
    name: Data Services Manager
    email: vatusa6@vatusa.net
host: api.vatusa.net
basePath: /v2
schemes: [ https ]
produces:
- application/json
tags:
- name: Public
  description: Access for all
- name: SemiPrivate
  description: Access for VATUSA Facilities only via API Key
- name: Private
  description: Access for VATUSA only via JWT or Session Cookie
paths:
# Private
  /auth/jwt:
    $ref: './auth/jwt.yaml'
  /auth/user:
    $ref: './auth/user.yaml'
# Semi-Private
  /facility/{fac}/transfers:
    $ref: './facilities/transfers.yaml'
# Public
  /cbt/{fac}:
    $ref: './cbt/fac.yaml'
  /cbt/{fac}/{blockId}:
    $ref: './cbt/block.yaml'
  /facilities:
    $ref: './facilities/list.yaml'
  /facilities/{id}:
    $ref: './facilities/info.yaml'
  /info/ace:
    $ref: './info/ace.yaml'
  /info/policies:
    $ref: './info/policies.yaml'
  /info/solo:
    $ref: './info/solo.yaml'
  /info/staff:
    $ref: './info/staff.yaml'
securityDefinitions:
  JWT:
    type: apiKey
    in: header
    name: JWT
  Cookie:
    type: apiKey
    name: Session Cookie
    in: header
  APIKey:
    type: apiKey
    in: query
    name: apikey
definitions:
  ACE:
    type: array
    items:
      $ref: "#/definitions/Staff"
  DivStaff:
    type: array
    items:
      type: object
      properties:
        cid:
          type: integer
        name_first:
          type: string
        name_last:
          type: string
        email:
          type: string
        rating:
          type: object
          properties:
            id:
              type: integer
            short:
              type: string
            long:
              type: string
        position:
          type: string
  Facility:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      url:
        type: string
      region:
        type: integer
      active:
        type: boolean
      staff:
        type: object
        properties:
          atm:
            $ref: "#/definitions/Staff"
          datm:
            $ref: "#/definitions/Staff"
          ta:
            $ref: "#/definitions/Staff"
          ec:
            $ref: "#/definitions/Staff"
          fe:
            $ref: "#/definitions/Staff"
          wm:
            $ref: "#/definitions/Staff"
  SoloCert:
    type: array
    items:
      type: object
      properties:
        cid:
          type: integer
        name_first:
          type: string
        name_last:
          type: string
        position:
          type: string
        validUntil:
          type: string
  Staff:
    type: object
    properties:
      cid:
        type: integer
      name_first:
        type: string
      name_last:
        type: string
      email:
        type: string
      rating:
        type: object
        properties:
          id:
            type: integer
          short:
            type: string
          long:
            type: string
